.foodstuff_wrapper{
    display: flex;
    column-gap: 2rem;
    text-align: left;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.foodstuff_content{
    margin-bottom: 50px;
    width: 50%;
}
.foodstuff_img{
    width: 50%;
}

.foodstuff_content-desc{
    line-height: 1.4rem;
    color: grey;
    margin-top: 30px;
}

.hcolor{
    color: rgb(214, 213, 213);
}

.foodstuff_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/*==================================Mobile view=====================================*/

@media only screen and (max-width:992px){
    .foodstuff_content h2{
        font-size: 1.5rem;
    }
    
    .foodstuff_img img{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
}
@media only screen and (max-width:768px){
    .foodstuff_wrapper{
        flex-direction: column;
    }
    
    .foodstuff_content{
        width: 100%;
    }
    
    .foodstuff_img{
        width: 60%; 
    }
    
    .foodstuff_img img{
        height: 90% !important;
    }
    
    .foodstuff_content{
        margin-bottom: 30px;
    }
    
}