
.service2_item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.services2_item{
    background: #12141c;
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.service2_icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #020312;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
}
.learn_more i {
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
    margin-right: 12rem;
}

.light-theme .service2_icon {
    background-color: var(--primary-color);
}
.light-theme .service2_icon i {
    color: #fff;
}

.service2_icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.service2_title{
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 30px;
}

@media only screen and (max-width:992px){
    .services2_top-content h2 {
        font-size: 1.5rem;
    }

    .service2_item-wrapper{
        flex-wrap: wrap;
    }

    .services2_item{
        width: 31%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px){
    .services2_item{
        width: 47.7%;
    }
    .service2_title{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:576px){
    .services2_item{
        width: 100%;
    }
}