.section03{
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),url('../images/contact03.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section03 h1{
    color: #fff;
    font-weight: 600;
    text-align: center;
}



/*==============================mobile view=================================*/

@media only screen and (max-width: 768px){
    .section03{
        padding: 70px 0px;
    }
    .section03 h1{
        font-size: 1.4rem;
    }
}

