.Menuicon i{
   padding-left: 0.2rem;
}
.Menuicon i:hover{
    color: rgb(67, 67, 67);
}

.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    
}

.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}


.menu a{
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
    transition: 0.3s;
}

.menu a:hover{
    color: var(--link-active);
}

.active_menu{
    color: #eb4a4a !important;
}

/* .logo h2{
    color: var(--primary-color);
} */

.logo img{
    height: 11%;
    width: 11%;
}

.light-mode span{
    color:rgba(255, 255, 255, 0.637);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.light-theme .light-mode span {
    color: #000;
    font-weight: 500;
}

.header_shrink{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #161920;
}

.mobile_menu{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.mobile_submenu{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.light-theme .header_shrink{
    background: #f7f7f7;
    box-shadow: 2px 2px 10px -2px #ddd;
}

.light-theme .mobile_menu{
    color: #000;
}


/* ================================= responsive ==================================*/

@media only screen and (max-width: 992px) {
    
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(6, 11, 26, 0.868);
        z-index: 99999;
        display: none;
    }
    .menu{
        flex-direction: column;
        background: #161920;
        width: 250px;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999999;
    }

    .menu_active{
        display: block;
    }
    .mobile_menu{
        display: block;
    }
}    

@media only screen and (max-width: 768px){
    .header{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .mobile_menu{
        font-size: 1rem;
    }
    .logo h2{
        font-size: 1.3rem;
    }
    .logo img{
        height: 8%;
        width: 8%;
    }
}

/*===================submenu===============*/
nav{display: block;}
#mainnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#mainnav > ul > li {
    display: inline-block;
    padding: 0 6px;
}
#mainnav ul li {
    position: relative;
}
.header #mainnav > ul > li > a {
    line-height: 50px;
}
#mainnav > ul > li.home > a {
    color: #fff;
}
#mainnav > ul > li > a {
    position: relative;
    display: block;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu {
    position: absolute;
    left: 0;
    top: 150%;
    width: 240px;
    text-align: left;
    background-color: #222222;
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-radius: 2px 2px 2px 2px;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu li:first-child {
    border-top: none;
}
#mainnav ul.submenu > li {
    border-top: 1px solid #333333;
}
#mainnav ul li ul li {
    margin-left: 0;
}
#mainnav ul.submenu > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 20px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#mainnav ul.submenu > li > a:hover{
    color: rgb(67, 67, 67);
}
/* #mainnav ul.menu > li > a:hover{
    color: rgb(67, 67, 67);
} */
#mainnav ul li:hover > ul.submenu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}



















